@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poetsen+One&family=Sansita+Swashed:wght@300..900&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #def7ff;
  height: 7rem;
  margin: 0 auto;
  padding: 0 20rem;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 3px solid #87c4ff;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
}

.header-log {
}

.app-name {
  font-family: "Sansita Swashed", "Poetsen One";
  font-size: 35px;
  margin-left: 1rem;
}

.header-right {
  gap: 2rem;
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: #7ec3ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.guest {
}

.login-button,
.logout-button,
.header-home {
  background: linear-gradient(45deg, #4facfe, #005dfe);
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.login-button:hover,
.logout-button:hover,
.header-home:hover {
  background: linear-gradient(45deg, #00f2fe, #4facfe);
  transform: scale(1.05);
}
