.home-conteiner {
  backdrop-filter: blur(20px) saturate(188%);
  -webkit-backdrop-filter: blur(20px) saturate(188%);
  background-color: rgba(116, 136, 181, 0.7);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
