.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Sansita Swashed", "Poetsen One", sans-serif;
}

p {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.textarea {
  width: 80%;
  height: 30%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  border: 2px solid #add8e6;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.textarea:focus {
  border-color: #008cba;
  box-shadow: 0 0 10px rgba(0, 140, 186, 0.3);
}

.button {
  background: linear-gradient(45deg, #4facfe, #005dfe);
  border-radius: 25px;
  padding: 0.8rem 7rem;
  color: white;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.button:hover {
  background: linear-gradient(45deg, #005dfe, #4facfe); /* 背景色を反転 */
  transform: scale(1.1);
}

.button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  p {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .textarea {
    width: 85%;
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .button {
    width: auto;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }
}
