@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(89deg, #88b2ea, #bbeceb, #b5dfb2, #8ff5a5),
    radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0) 70%
    ),
    url("/images/colorful-pattern.png");
  background-blend-mode: overlay, screen;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
